!!!
%html
  %head
    %title Интернет-магазин Depot
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: controller.controller_name }
    #banner
      = image_tag "logo.png"
      = @page_title || "Интернет-магазин книг"
    .container-fluid
      #columns.row
        #side.sidebar.col-md-2
          %ul.nav.nav-sidebar
            %li= link_to 'Главная', store_path
            %li
              %a{href: "http://www..."} Вопросы
            %li
              %a{href: "http://www..."} Новости
            %li
              %a{href: "http://www..."} Контакты
        #main.col-md-10.main
          = yield